USE [PruebaCastores]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[idMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[tipo] [varchar](10) NOT NULL,
	[cantidad] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[nota] [varchar](255) NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
 CONSTRAINT [pk_movimientos] PRIMARY KEY CLUSTERED 
(
	[idMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[precio] [decimal](16, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Email] [varchar](300) NULL,
	[Password] [varchar](300) NULL,
	[Estatus] [int] NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_ventas] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([idProducto], [nombre], [precio], [stock], [estatus]) VALUES (1, N'LAPTOP', CAST(3000.00 AS Decimal(16, 2)), 0, 1)
INSERT [dbo].[productos] ([idProducto], [nombre], [precio], [stock], [estatus]) VALUES (2, N'PC', CAST(4000.00 AS Decimal(16, 2)), 0, 1)
INSERT [dbo].[productos] ([idProducto], [nombre], [precio], [stock], [estatus]) VALUES (3, N'MOUSE', CAST(100.00 AS Decimal(16, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (1, N'administrador')
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (2, N'almacenista')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Email], [Password], [Estatus], [IdRol]) VALUES (1, N'Admin', N'admin@gmail.com', N'admin123', 1, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Email], [Password], [Estatus], [IdRol]) VALUES (2, N'Almacenista', N'almacen@gmail.com', N'almacen123', 1, 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[ventas] ON 

INSERT [dbo].[ventas] ([idVenta], [idProducto], [cantidad]) VALUES (1, 5, 8)
INSERT [dbo].[ventas] ([idVenta], [idProducto], [cantidad]) VALUES (2, 1, 15)
INSERT [dbo].[ventas] ([idVenta], [idProducto], [cantidad]) VALUES (3, 6, 13)
SET IDENTITY_INSERT [dbo].[ventas] OFF
GO
ALTER TABLE [dbo].[movimientos] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[movimientos] ADD  CONSTRAINT [DF_movimientos_PrecioUnitario]  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[productos] ADD  CONSTRAINT [DF_productos_precio]  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[productos] ADD  CONSTRAINT [DF_productos_stock]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[productos] ADD  CONSTRAINT [DF_productos_estatus]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [fk_mov_prod] FOREIGN KEY([idProducto])
REFERENCES [dbo].[productos] ([idProducto])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [fk_mov_prod]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [fk_mov_user] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [fk_mov_user]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD CHECK  (([tipo]='SALIDA' OR [tipo]='ENTRADA'))
GO
/****** Object:  StoredProcedure [dbo].[usp_EntradaProducto]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[usp_EntradaProducto]
	@idProducto INT,
	@idUsuario INT,
	@cantidad decimal(16,2),
	@precio decimal(16,2)
AS
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO movimientos(idProducto, idUsuario, tipo, cantidad, nota, PrecioUnitario)
			VALUES (@idProducto, @idUsuario, 'ENTRADA', @cantidad, 'Entrada de productos', @precio)

			UPDATE Productos
			SET stock = stock + @Cantidad, precio = @precio
			WHERE idProducto = @idProducto;
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertProducto]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_InsertProducto]
	@nombre VARCHAR(200),
	@estatus INT,
	@precio decimal(16,2),
	@stock INT
AS
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO productos(nombre,estatus,precio, stock)
			VALUES (@nombre, @estatus, @precio, @stock)
			--DECLARE @IdUsuario INT
			--SET @IdUsuario = (SELECT MAX(IdUsuario) FROM Usuario)
			----INSERT INTO DetallePermisoUsuario(IdUsuario, IdPermiso) SELECT @IdUsuario, P.IdPermiso FROM Permiso P
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertUsuario]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertUsuario]
	@Email VARCHAR(300),
	@Password VARCHAR(300),
	@Nombre VARCHAR(200),
	@IdRol INT,
	@Estatus INT 
AS
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO Usuarios(Email,Password, Nombre, IdRol,Estatus)
			VALUES (@Email, @Password, @Nombre, @IdRol, @Estatus)
			--DECLARE @IdUsuario INT
			--SET @IdUsuario = (SELECT MAX(IdUsuario) FROM Usuario)
			----INSERT INTO DetallePermisoUsuario(IdUsuario, IdPermiso) SELECT @IdUsuario, P.IdPermiso FROM Permiso P
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH

GO
/****** Object:  StoredProcedure [dbo].[usp_LogIn]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_LogIn]
	@Email NVARCHAR(80),
	@Password NVARCHAR(500)
AS
	SELECT * FROM Usuarios U
	INNER JOIN Rol R ON R.IdRol = U.IdRol
	WHERE U.Email = @Email  AND U.Password = @Password
GO
/****** Object:  StoredProcedure [dbo].[usp_SalidaProducto]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[usp_SalidaProducto]
	@idProducto INT,
	@idUsuario INT,
	@cantidad decimal(16,2)
AS
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO movimientos(idProducto, idUsuario, tipo, cantidad, nota, PrecioUnitario)
			VALUES (@idProducto, @idUsuario, 'SALIDA', @cantidad, 'Salida de productos', (SELECT precio FROM Productos WHERE idProducto = @idProducto))

			UPDATE Productos
			SET stock = stock - @Cantidad
			WHERE idProducto = @idProducto;
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectHistorial]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SelectHistorial]

AS
	BEGIN TRY
		BEGIN TRANSACTION
			SELECT 
				p.idProducto,
				p.nombre,
				m.cantidad,
				u.Nombre AS Usuario,
				m.tipo,
				m.fecha
			FROM movimientos m 
			LEFT JOIN productos p ON m.idProducto = p.idProducto
			LEFT JOIN Usuarios u ON u.IdUsuario = m.idUsuario
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectProductos]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SelectProductos]
AS

	BEGIN TRY
		BEGIN TRANSACTION
			SELECT 
				idProducto,
				nombre,
				precio,
				stock,
				estatus
			FROM productos
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectProductosActivos]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SelectProductosActivos]
AS
	BEGIN TRY
		BEGIN TRANSACTION
			SELECT 
				idProducto,
				nombre,
				precio,
				stock,
				estatus
			FROM productos WHERE estatus = 1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectUsuario]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SelectUsuario]
AS
SELECT U.IdUsuario, U.Nombre, U.Email, U.Password, R.Descripcion, (U.Estatus) AS EstatusUser FROM Usuarios U 
INNER JOIN Rol R ON R.IdRol = U.IdRol
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectUsuarioId]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SelectUsuarioId]
@IdUsuario INT
AS
SELECT U.IdUsuario, U.Nombre, U.Email, U.Password, R.Descripcion, (EU.Descripcion) AS EstatusUser FROM Usuarios U 
INNER JOIN Rol R ON R.IdRol = U.IdRol
INNER JOIN EstatusUsuarios EU ON EU.IdEstatus = U.Estatus WHERE U.IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[usp_updateEstatus]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_updateEstatus]
	@idProducto INT,
	@estatus INT
AS
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE productos
			SET estatus = @estatus
			WHERE idProducto = @idProducto;
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUsuario]    Script Date: 21/10/2025 6:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateUsuario]
	@IdUsuario INT,
	@Email VARCHAR(300),
	@Password VARCHAR(300),
	@Nombre VARCHAR(200),
	@IdRol INT,
	@Estatus INT 
AS
	BEGIN TRY
		BEGIN TRANSACTION

			UPDATE Usuarios set Nombre = @Nombre, Email = @Email, Password = @Password, IdRol = @IdRol, Estatus = @Estatus 
			WHERE IdUsuario = @IdUsuario
			
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT 'ERROR!'
		ROLLBACK TRANSACTION
	END CATCH
GO
